@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 370px 520px;
            column-gap: 26px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 18px;
            &-item {
                gap: 14px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 400px);
            column-gap: 50px;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-around;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            column-gap: 130px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 310px 523px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2,248px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 30px 0 30px;
            grid-template-columns: repeat(2, 310px);
            column-gap: 40px;
        }
    }
    .skills {
        &__items {
            padding: 0 20px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 340px);
            padding: 0;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 15px;
            grid-template-columns: 0px 100%;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2,330px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
            line-height: 39px;
        }
    }
    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 100%;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            padding: 40px 20px 0 20px;
            grid-template-columns: 100%;
            gap: 20px;
        }
    }
    .skills {
        padding-top: 60px;
        &__ratings {
            margin-top: 60px;
            grid-template-columns: 350px;
            column-gap: 20px;
        }
    }
    .portfolio {
        padding-top: 60px;
    }
    .price {
        padding-top: 60px;
        &__wrapper {
            margin-top: 30px;
            justify-content: space-around;
        }
    }
    .contacts {
        padding-top: 60px;
        &__wrapper {
            padding: 0 15px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2,240px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 300px;
        padding: 0 4px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-top: 80px;
            padding-left: 20px;
        }
        &__link {
            font-size: 19px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            padding: 5px;
            grid-template: 340px auto auto / 100%;
        }
        &__skills {
            grid-template-columns: 100%;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 0 0 0;
        }
        &__item {
            &:before {
                width: 15px;
                left: 5px;
            }
            &-icon {
                left: 20px;
            }
            &-head {
                padding-left: 70px;
            }
            &-body {
                padding: 12px 0 0 22px;
            }
        }
        &__column {
            &-title{
                &:before {
                    left: -3px;
                }
            }
            ul {
                li {
                    &:after {
                        left: 4px;
                    }
                }
            }
        }
    }
    .skills {
        &__ratings {
            grid-template-columns: 270px;
            column-gap: 20px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
        }
        .price__count, .price__type {
            font-size: 13px;
        }
    }
    .contacts {
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 250px;
            margin: 0 auto;
        }
        &__policy {
            width: 78%;
            margin: 0 auto;
            line-height: 18px;
        }
        &__social {
            text-align: center;
        }
        &__link {
            margin: 15px;
        }
    }
}