.portfolio {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px); // задаем размеры 2 строк и 4 колонок
        grid-auto-rows: 280px;// что б не ломалось, если добавим еще строк
        gap: 5px;
        .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        }
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 2 / 4;
        }
    }
    &__item {
    overflow: hidden;
        img {
            transition: all 0.2s;
            width: 100%;
            filter: grayscale(100%);
        }
        &:hover {
            img {
            transform: scale(1.1);
            filter: grayscale(0%);
            }
        }
    }
}